@use "../utilities" as u;

body {
  font-family: u.$font-family;
  background-color: u.$clr-secondary-300;
}


@media screen and (min-width: 700px) {
  .main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .calculator {
    background-color: blue;
  }
}
