@use "../utilities" as u;

::selection {
  background-color: u.$clr-primary-purple;
  color: #ffffff;
}

.calculator {
  $dim-color: hsla(0, 0%, 0%, 15%);

  background-color: u.$clr-secondary-400;
  width: 95%;
  max-width: u.rem(840);

  margin-top: 4rem;
  margin-inline: 1rem;
  border-radius: 1.5rem 1.5rem 6rem 1.5rem;
  padding: clamp(1rem, 1rem + 1vw, 5rem);
  padding-bottom: 4rem;
  font-weight: bold;

  &__input {
    border-bottom: 1px solid $dim-color;
    padding: 1em 0em;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    flex-wrap: wrap;

    .field-container > * {
      margin-block: u.em(5);
    }

    .field-container {
      font-size: 1rem;
      color: hsla(0, 0%, 0%, 50%);

      label {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 80%;
        font-weight: 700;
        color: hsla(0, 0%, 0%, 50%);
      }

      input:focus-visible {
        outline: 1px solid u.$clr-black;
        border: none;

      }

      input {
        display: block;
        max-width: 90px;
        padding: 0.6rem;
        border-radius: 0.5rem;
        outline: 1px solid $dim-color;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
      }

      input::placeholder {
        font-size: 1.5rem;
      }

      .alert-danger {
        font-size: clamp(0.55rem, 0.3rem + 1vw, 1rem);
        font-weight: 400;
        font-style: italic;
        color: u.$clr-primary-light-red;
        position: relative;
        opacity: 0;
        z-index: -1;
        transition: 550ms ease-out all;
        text-align: center;
      }

      .showError {
        opacity: 1;
        z-index: 0;
      }
    }

    .error {
      input {
        outline-color: u.$clr-primary-light-red;
      }

      input:focus-visible {
        outline-color: u.$clr-primary-light-red;
      }

      label {
        color: u.$clr-primary-light-red;
      }
    }
  }

  &__output {
    padding-block: 0.5rem;
    padding-block-start: 4rem;

    .output {
      line-height: 1;
      font-style: italic;
      font-size: clamp(2.1rem, 1rem + 2vw, 3.5rem);

      .output-num {
        color: u.$clr-primary-purple;
      }
    }
  }
}

@media (min-width: 700px) {
  .calculator {
    padding: 3.8rem;
    padding-block: 2rem;

    &__input {
      padding-bottom: 0.8em;
      gap: 1.5rem;
      justify-content: initial;

      .btn {
        right: 0;
      }

      .field-container {
        input {
          max-width: 156px;
          padding: 0.8rem 1rem;
        }
      }
    }

    &__output {
      .output {
        font-size: 6.5rem;
      }
    }
  }
}
