@use "../utilities" as u;

.btn {
  background-color: u.$clr-primary-purple;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -40px;
  right: 40%;
  padding: 1rem;
  cursor: pointer;
  transition: 150ms ease-in-out all;
}

.btn:hover {
  background-color: u.$clr-black;
}